@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&family=Noto+Sans+JP:wght@700&family=Rubik:wght@600&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.map__contain {
    display: grid;
    
    grid-template-columns: 1fr 1fr 1fr;

    background-image: url('/src/assets/fondoweb.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

