@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&family=Noto+Sans+JP:wght@700&family=Rubik:wght@600&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.counter__container {

    display: grid;
    
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: ; */
    /* justify-items: center;
    align-items: center; */
    
    font-family: 'Montserrat', sans-serif;

    font-family: 'Noto Sans JP', sans-serif;

    font-family: 'Rubik', sans-serif;
    color: #FFF;

    background-image: url('/src/assets/background-countertime.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}


.counter__img-logo {
    grid-column: 1/2;
    justify-self: center;
    align-self: start;
}

.counter__img-logo img {
    margin-left: 20%;
}

.counter__img-contain {
    grid-column: 1/4;
    justify-self: center;
    align-self: start;

    margin-top: 0%;
    
}


.counter__days{
    grid-column: 1/4;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
       
}

.counter__days p {
    margin: 0 5%;
    text-shadow: 0 0 8px #FFF;
    font-size: 56px;
    margin-bottom: 10px;
    
}

.counter__days-text{
    grid-column: 2/3;
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    bottom: 55px;
    /* margin-left: 40px; */
    /* margin-bottom: 60px; */
}

.counter__days-text p {
    margin: 0 15%;
    font-size: 12px;
    margin-top: 12%;
    margin-bottom: 5%;
    
}

.counter__minutes{
    justify-self: start;
    align-self: start;
}

.counter__border-contain {
    /* grid-column: 1/4; */
    /* align-self: center;
    justify-self: center; */
    /* display: flex; */
    position: relative;
    grid-column: 2/3;  
    
}

.counter__border-contain img {
    margin: 0 40px;
}

.img__border {
    position: absolute;
    bottom: 80%;
    left: 30%;

}

.img__border2 {
    position: absolute; 
    bottom: 0px;
    left: 70%;
    
}

.img__border3 {
    position: absolute;
    bottom: 0px;
    right: 315px;

}

.img__character{
    position: absolute;
    bottom: 55px;
    left: 15px;

}

.img__character2{
    position: absolute;
    bottom: 80px;
    left: 380px;

}

.img__character3{
    position: absolute;
    bottom: 80px;
    right: 105px;

}

.counter__button {
    grid-column: 1/4;
    align-self: flex-end;
    justify-self: center;
    background-image: url('/src/assets/boton.png');
    background-repeat: no-repeat;
    width: 250px;
    height: 80px;
    margin-top: -55px;
    display: flex;
    position: relative;
    left: 40px;
    

}

.counter__button a {
    margin: 0 20px;
    font-size: 22px;
    margin-top: 10px;
    cursor: pointer;
    color: white;
}

.counter__button a:hover {
    text-decoration: none;
    color: white;
}

/********************************************************
***********************MEDIA QUERY**********************
********************************************************
*/
@media screen and (min-width: 1366px) and (min-height: 768px) {

    .counter__img-contain {
        grid-column: 1/4;
        justify-self: center;
        align-self: start;
    
        margin-bottom: 20px;
        margin-top: -30px;
        
    }
    .counter__img-contain img {
        width: 550px;
        height: 300px;
        
    }

    .counter__days p {
        margin: 0 6%;
        text-shadow: 0 0 8px #FFF;
        font-size: 56px;
        margin-bottom: 10px;
        
    }

    .img__character{
        position: absolute;
        bottom: 52px;
        left: -12px;
    }

    .img__character2 {
        position: absolute;
        bottom: 75px;
        left: 87%;
    }

    .img__character3 {
        position: absolute;
        bottom: 75px;
        left: 183px;
    }

    .img__border3 {
        position: absolute;
        bottom: 15px;
        right: 310px;
        
    }
    

    .img__border2{
        position: absolute;
        bottom: 15px;
        left: 340px;
    }

    .img__border{
        position: absolute;
        bottom: 15px;
        left: -15%;
        

    }

    .counter__days-text {
        grid-column: 2/3;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        bottom: 40px;
    }

    .counter__days-text p {
        margin: 0px 17%;
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 12px;
        margin-top: 6%;
        margin-bottom: 140px;
    }

    .counter__button {
        position: relative;
        bottom: 150px;

    }

} 

/* // Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) and (min-height: 768px) {

    .counter__img-contain {
        grid-column: 1/4;
        justify-self: center;
        align-self: start;
    
        margin-bottom: 20px;
        margin-top: -30px;
        
    }
    .counter__img-contain img {
        width: 550px;
        height: 250px;
        margin-top: 20px;
    }

    .counter__days p {
        margin: 0 5%;
        text-shadow: 0 0 8px #FFF;
        font-size: 56px;
        margin-bottom: 40px;
        
    }

    .img__character{
        position: absolute;
        bottom: 80px;
        left: 0px;
    }

    .img__character2 {
        position: absolute;
        bottom: 105px;
        left: 84%;
    }

    .img__character3 {
        position: absolute;
        bottom: 105px;
        left: 155px;
    }

    .img__border3 {
        position: absolute;
        bottom: 45px;
        right: 280px;
        
    }
    

    .img__border2{
        position: absolute;
        bottom: 45px;
        left: 275px;
        

    }

    .img__border{
        position: absolute;
        bottom: 45px;
        left: 25%;
        

    }

    .counter__days-text {
        grid-column: 2/3;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        bottom: 40px;
    }

    .counter__days-text p {
        margin: 0px 17%;
        font-size: 12px;
        margin-top: 0%;
        margin-bottom: 0%;
    }

    .counter__button {
        position: relative;
        bottom: 35px;

    }

}

/* // Large devices (desktops, 992px and up) */
@media screen and (max-width: 992px) {


    .counter__img-contain {
        grid-column: 1/4;
        justify-self: center;
        align-self: start;
    
        margin-bottom: 20px;
        margin-top: -30px;
        
    }

    .counter__img-contain img {
        margin-bottom: -70px;
        width: 550px;
        height: 350px;
    }

    .counter__days p {
        margin: 0 6.5%;
        text-shadow: 0 0 8px #FFF;
        font-size: 56px;
        margin-bottom: 10px;
        
    }

    .img__character{
        position: absolute;
        bottom: 100px;
        left: -50px;
    }

    .img__character2 {
        position: absolute;
        bottom: 130px;
        left: 95%;
    }

    .img__character3 {
        position: absolute;
        bottom: 125px;
        left: 120px;
    }

    .img__border3 {
        position: absolute;
        bottom: 65px;
        right: 260px;
        
    }
    

    .img__border2{
        position: absolute;
        bottom: 65px;
        left: 260px;
        

    }

    .img__border{
        position: absolute;
        bottom: 65px;
        left: 20%;
    }

    .counter__days-text {
        grid-column: 2/3;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        bottom: 60px;
    }

    .counter__days-text p {
        margin: 0px 23%;
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 12px;
        margin-top: -5%;
        margin-bottom: 0%;
    }

    .counter__button {
        position: relative;
        bottom: 40px;

    }
    
}

/* Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) 

    .counter__days-text {
        grid-column: 2/3;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        bottom: 20px;
        margin-left: 40px;
        margin-bottom: 60px;
    }

    .counter__days p {
        margin: 0 60px;
        text-shadow: 0 0 8px #FFF;
        font-size: 46px;
        margin-bottom: 10px;
        
    }

    .counter__days-text p {
        margin: 0 35%;
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 12px;
        margin-top: 12%;
        margin-bottom: 5%;
    }

    .img__character {
        position: absolute;
        bottom: 45px;
        left: -85px;
    }

    .img__character img {
        height: 90px;
    }

    .img__character3 {
        position: absolute;
        bottom: 60px;
        left: 65px;
    }

    .img__character2 {
        position: absolute;
        bottom: 60px;
        left: 230px;
    }

    .img__border3 {
        position: absolute;
        bottom: 5px;
        right: 150px;
    }

    .img__border3 img {
        height: 80px;
    }

    .img__border2 {
        position: absolute;
        bottom: 5px;
        left: 4px;
    }

    .img__border2 img {
        height: 80px;
    }
     
    .img__border {
        position: absolute;
        bottom: 5px;
        left: 165px;
    }

    .img__border img {
        height: 80px;
    }
 */

/* // Medium devices (tablets, 768px and up) */

/* KINDLE FIRE HD 800X1280*/
@media screen and (min-width: 360px) and ( min-height: 740px ) {

    .counter__container {
        width: 110vw;
        height: 120vh;
    }
    .counter__days-text {
        grid-column: 2/3;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        bottom: 150px;
        margin-left: 0px;
        margin-bottom: 60px;
    }

    .counter__img-contain img {
        margin-bottom: 10px;
        width: 350px;
        height: 250px;
        margin-top: 20px;
    }

    .counter__days p {
        margin: 0 30px;
        text-shadow: 0 0 8px #FFF;
        font-size: 36px;
        margin-bottom: 200px;
        
    }
    

    .counter__days-text p {
        margin: 0 22%;
        font-size: 12px;
        margin-top: -190%;
        margin-bottom: -30%;
        
    }

    .img__character {
        position: absolute;
        bottom: 290px;
        left: -90px;
    }

    .img__character img {
        height: 80px;
        width: auto;
    }

    .img__character3 {
        position: absolute;
        bottom: 306px;
        left: 0px;
    }
    .img__character3 img {
        height: 80px;
        width: auto;
    }

    .img__character2 {
        position: absolute;
        bottom: 308px;
        left: 106px;
    }

    .img__border3 {
        position: absolute;
        bottom: 245px;
        right: 100px;
    }

    .img__border3 img {
        height: 80px;
        width: auto;
    }

    .img__border2 {
        position: absolute;
        bottom: 245px;
        left: -35px;
    }

    .img__border2 img {
        height: 80px;
        width: auto;
    }
     
    .img__border {
        position: absolute;
        bottom: 245px;
        left: 70px;
    }

    .img__border img {
        height: 80px;
        width: auto;
    
    }

    .counter__button {
        position: relative;
        left: 40px;
        top: -65px;
    }
}

@media screen and (min-width: 375px) and ( min-width: 413px ) {
    
    .counter__days-text {
        grid-column: 2/3;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        bottom: 60px;
        margin-left: -35px;
        margin-bottom: 60px;
    }

    .counter__img-contain img {
        margin-bottom: 10px;
        width: 350px;
        height: 250px;
        margin-top: 20px;
    }

    .counter__days p {
        margin: 0 30px;
        text-shadow: 0 0 8px #FFF;
        font-size: 36px;
        margin-bottom: 200px;
        
    }
    

    .counter__days-text p {
        margin: 0 20%;
        font-size: 12px;
        margin-top: -190%;
        margin-bottom: -30%;
        
    }

    .img__character {
        position: absolute;
        bottom: 235px;
        left: -100px;
    }

    .img__character img {
        height: 80px;
        width: auto;
    }

    .img__character3 {
        position: absolute;
        bottom: 247px;
        left: -11px;
    }
    .img__character3 img {
        height: 80px;
        width: auto;
    }

    .img__character2 {
        position: absolute;
        bottom: 250px;
        left: 90px;
    }

    .img__border3 {
        position: absolute;
        bottom: 190px;
        right: 100px;
    }

    .img__border3 img {
        height: 80px;
        width: auto;
    }

    .img__border2 {
        position: absolute;
        bottom: 190px;
        left: -45px;
    }

    .img__border2 img {
        height: 80px;
        width: auto;
    }
     
    .img__border {
        position: absolute;
        bottom: 190px;
        left: 60px;
    }

    .img__border img {
        height: 80px;
        width: auto;
    
    }

    .counter__button {
        position: relative;
        left: 40px;
        top: -25px;
    }
}

@media screen and (min-width: 375px) and (min-height: 667px) {

    .counter__container {
        width: 110vw;
        height: 120vh;
    }

    .counter__days-text {
        grid-column: 2/3;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        bottom: 40px;
        
        margin-bottom: 60px;
    }

    .counter__img-contain img {
        margin-bottom: 10px;
        width: 350px;
        height: 250px;
    }

    .counter__days p {
        margin: 0 30px;
        text-shadow: 0 0 8px #FFF;
        font-size: 36px;
        margin-bottom: 200px;
        
    }
    

    .counter__days-text p {
        margin: 0 25%;
        font-size: 12px;
        margin-top: -320%;
        margin-bottom: -30%;
    }

    .img__character {
        position: absolute;
        bottom: 275px;
        left: -84px;
    }

    .img__character img {
        height: 80px;
        width: auto;
    }

    .img__character3 {
        position: absolute;
        bottom: 287px;
        left: 10px;
    }
    .img__character3 img {
        height: 80px;
        width: auto;
    }

    .img__character2 {
        position: absolute;
        bottom: 288px;
        left: 120px;
    }

    .img__border3 {
        position: absolute;
        bottom: 230px;
        right: 100px;
    }

    .img__border3 img {
        height: 80px;
        width: auto;
    }

    .img__border2 {
        position: absolute;
        bottom: 230px;
        left: -25px;
    }

    .img__border2 img {
        height: 80px;
        width: auto;
    }
     
    .img__border {
        position: absolute;
        bottom: 230px;
        left: 80px;
    }

    .img__border img {
        height: 80px;
        width: auto;
    
    }

    .counter__button {
        position: relative;
        left: 40px;
        top: -50px;
    }
}


@media screen and (min-width: 375px) and (min-height: 812px) {

    .counter__days-text {
        grid-column: 2/3;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        bottom: 20px;
        margin-left: -35px;
        margin-bottom: 60px;
    }

    .counter__img-contain img {
        margin-bottom: 10px;
        width: 350px;
        height: 250px;
    }

    .counter__days p {
        margin: 0 30px;
        text-shadow: 0 0 8px #FFF;
        font-size: 36px;
        margin-bottom: 200px;
        
    }
    

    .counter__days-text p {
        margin: 0 20%;
        font-size: 12px;
        margin-top: -320%;
        margin-bottom: -30%;
    }

    .img__character {
        position: absolute;
        bottom: 303px;
        left: -81px;
    }

    .img__character img {
        height: 80px;
        width: auto;
    }

    .img__character3 {
        position: absolute;
        bottom: 318px;
        left: 10px;
    }
    .img__character3 img {
        height: 80px;
        width: auto;
    }

    .img__character2 {
        position: absolute;
        bottom: 318px;
        left: 115px;
    }

    .img__border3 {
        position: absolute;
        bottom: 260px;
        right: 100px;
    }

    .img__border3 img {
        height: 80px;
        width: auto;
    }

    .img__border2 {
        position: absolute;
        bottom: 260px;
        left: -30px;
    }

    .img__border2 img {
        height: 80px;
        width: auto;
    }
     
    .img__border {
        position: absolute;
        bottom: 260px;
        left: 75px;
    }

    .img__border img {
        height: 80px;
        width: auto;
    
    }

    .counter__button {
        position: relative;
        left: 40px;
        top: -80px;
    }
}

@media screen and (min-width: 393px) and (min-height: 851px) {

    .counter__container {

        display: grid;
        
        grid-template-columns: 1fr 1fr 1fr;
        /* grid-template-rows: ; */
        /* justify-items: center;
        align-items: center; */
        
        font-family: 'Montserrat', sans-serif;
    
        font-family: 'Noto Sans JP', sans-serif;
    
        font-family: 'Rubik', sans-serif;
        color: #FFF;
    
        background-image: url('/src/assets/background-countertime.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100vw;
        height: 100vh;
    }
    .counter__days-text {
        grid-column: 2/3;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        bottom: 20px;
        margin-left: -35px;
        margin-bottom: 60px;
    }

    .counter__img-contain img {
        margin-bottom: 10px;
        width: 350px;
        height: 250px;
    }

    .counter__days p {
        margin: 0 30px;
        text-shadow: 0 0 8px #FFF;
        font-size: 36px;
        margin-bottom: 215px;
        
    }
    

    .counter__days-text p {
        margin: 0 20%;
        font-size: 12px;
        margin-top: -320%;
        margin-bottom: -30%;
    }

    .img__character {
        position: absolute;
        bottom: 290px;
        left: -93px;
    }

    .img__character img {
        height: 80px;
        width: auto;
    }

    .img__character3 {
        position: absolute;
        bottom: 300px;
        left: 5px;
    }
    .img__character3 img {
        height: 80px;
        width: auto;
    }

    .img__character2 {
        position: absolute;
        bottom: 300px;
        left: 100px;
    }

    .img__border3 {
        position: absolute;
        bottom: 245px;
        right: 100px;
    }

    .img__border3 img {
        height: 80px;
        width: auto;
    }

    .img__border2 {
        position: absolute;
        bottom: 245px;
        left: -30px;
    }

    .img__border2 img {
        height: 80px;
        width: auto;
    }
     
    .img__border {
        position: absolute;
        bottom: 245px;
        left: 60px;
    }

    .img__border img {
        height: 80px;
        width: auto;
    
    }

    .counter__button {
        position: relative;
        left: 40px;
        top: -50px;
    }
}

@media screen and (min-width: 414px) and (min-height: 736px) {

    .counter__img-contain img {
        width: 450px;
        height: 260px;
        margin-bottom: 20px;
    }

    .counter__days-text {
        grid-column: 2/3;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        bottom: 135px;
        margin-left: 0px;
        margin-bottom: 60px;
    }

    .counter__days p {
        margin: 0 45px;
        text-shadow: 0 0 8px #FFF;
        font-size: 36px;
        margin-bottom: 10px;
        margin-top: -50px;
        
    }

    .counter__days-text p {
        margin: 0px 25%;
        font-size: 12px;
        margin-top: 12%;
        margin-bottom: 10%;
    }

    .img__character {
        position: absolute;
        bottom: 135px;
        left: -81px;
    }

    .img__character img {
        height: 80px;
    }

    .img__character3 {
        position: absolute;
        bottom: 150px;
        left: 32px;
    }
    .img__character3 img {
        height: 80px;
        width: auto;
    }

    .img__character2 {
        position: absolute;
        bottom: 150px;
        left: 160px;
    }
    .img__character2 img {
        height: 80px;
    }

    .img__border3 {
        position: absolute;
        bottom: 90px;
        right: 120px; 
    }

    .img__border3 img {
        height: 80px;
        width: auto;
    }

    .img__border2 {
        position: absolute;
        bottom: 90px;
        left: -5px;
    }

    .img__border2 img {
        height: 80px;
        width: auto;
    }
     
    .img__border {
        position: absolute;
        bottom: 90px;
        left: 125px;
    }

    .img__border img {
      
        height: 80px;
        width: auto;
    
    }

    .counter__button {
        bottom: 40px;
        left: 50px;
    }

}

@media screen and (min-width: 768px) and (min-height: 1024px) {

    .counter__days p {
        margin: 0 10%;
        text-shadow: 0 0 8px #FFF;
        font-size: 46px;
        margin-bottom: 10px;
        
    }

    .counter__days-text p {
        margin-top: 13%;
    }

    .counter__img-contain {
        grid-column: 1/4;
        justify-self: center;
        align-self: start;
    }
    .counter__img-contain img {
        width: 400px;
        height: 250px;
        margin-top: 25px;
    }

    .img__character2 {
        position: absolute;
        bottom: 115px;
        left: 287px;
    }

    .img__character2 img {
        width: 80px;
        height: auto;
    }

    .img__character3 {
        position: absolute;
        bottom: 115px;
        left: 90px;
    }
    .img__character3 img {
        width: 80px;
    }

    .img__character {
        position: absolute;
        bottom: 105px;
        left: -115px;
    }

    .img__character img {
        width: 75px;
    }

    .img__border2 {
        position: absolute;
        bottom: 55px;
        left: 245px;
    }

    .img__border2 img {
        height: 85px;
    }

    .img__border {
        position: absolute;
        bottom: 55px;
        left: -150px; 

    }

    .img__border img {
        height: 85px;
    }

    .img__border3 {
        position: absolute;
        bottom: 55px;
        right: 47px;
    }

    .img__border3 img {
        height: 85px;
    }

    .counter__days-text {
        grid-column: 2/3;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        bottom: 105px;
        margin-left: 5px;
        margin-bottom: 60px;
    }

    .counter__days-text p {
        margin: 0 30%;
            margin-top: 0px;
            margin-bottom: 0px;
        font-size: 12px;
        margin-top: 13%;
        margin-bottom: 100%;
    }

    .counter__button {
        position: relative;
        top: -85px;
        left: 40px;
    }

}



